#article_area {
    margin-right: 14em;
}

#direction {
    text-align: center;
    padding: 1em;
}

#direction a {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: x-large;
    padding: 2em;
}

#position {
    padding: 1em;
}

/*右浮动框*/
#right {
    float: right;
    width: 13em;
    right: 0;
}
