#article_area {
    margin-right: 14em;
}

#direction {
    text-align: center;
}

#position {
    padding: 1em;
}

/*右浮动框*/
#right {
    float: right;
    width: 13em;
    right: 0;
}

#search {
}

#tags {
    height: 200px;
}

#category {
    height: 300px;
}

#time_group {
    height: 400px;
}
