html, body {
    font-family: Helvetica, Tahoma, Arial, 'Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft YaHei UI Light', sans-serif;
    margin: 0;
}

.f5f5f5 {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
}

div.card {
    margin: 10px 0;
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 0.5em;
}

    div.card:first-child {
        margin-top: 0;
    }

    div.card:last-child {
        margin-bottom: 0;
    }

#container {
    width: 80em;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    text-align: center;
    border: 1px solid lightgray;
}

    #banner image {
        width: 80em;
    }

nav {
    margin-bottom: 1em;
}

    nav ul {
        position: relative;
        list-style: none;
        padding-left: 1px;
        padding-bottom: 1px;
        margin: 0;
        height: 4em;
    }

    nav li {
        position: relative;
        display: inline-block;
        height: 3.5em;
        width: 6em;
        margin: 0.5em auto 0;
        border-radius: 0.5em 0.5em 0 0;
        border: 1px solid lightgray;
        text-align: center;
        box-shadow: lightgray -2px -2px 2px inset;
    }

        nav li.hightlight {
            background-color: gray;
            box-shadow: lightgray -2px 0 2px inset;
            border-bottom: none;
        }

            nav li.hightlight a {
                color: white;
            }

        nav li:first-child {
            margin-left: 0;
        }

        nav li:last-child {
            margin-right: 0;
        }

        nav li.right {
            margin-left: auto;
            position: absolute;
            right: 0;
        }

    nav a {
        color: black;
        position: relative;
        top: 1.5em;
        text-decoration: none;
    }


#navigator {
    border-radius: 0 0 0.5em 0.5em;
    box-shadow: 5px 5px 5px lightgray;
}

/*文章区*/

article {
    border-radius: 0.5em;
    margin: 20px 0;
    box-shadow: 5px 5px 5px lightgrey;
    padding: 0 1em 1em 1em;
}

    article h1 {
        font-size: xx-large;
    }

    article p {
        text-indent: 2em;
    }

    article h2 {
        font-size: x-large;
        margin-top: 1.5em;
        border-bottom: thin dashed black;
    }

    article h3 {
        font-size: large;
    }

    article dl {
        padding-left: 1em;
    }

    article dt {
        font-weight: bold;
        margin-top: 1em;
    }

    article dd {
        margin-left: 1em;
        line-height: 150%;
    }

    article div.in_block {
        border: 1px solid black;
        width: 30em;
        padding: 1em;
        border-radius: 1em;
    }

.title_bar {
    border-bottom: medium dotted darkslateblue;
    margin-bottom: 0;
}

.information_bar {
    margin-top: 5px;
    margin-left: 2em;
    font-size: 80%;
    color: gray;
}

.bottom_bar {
    font-size: 80%;
    color: gray;
}

h1 > a {
    text-decoration: none;
    color: black;
}

/*脚标区*/
#footer {
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 5px 0 5px lightgrey;
    margin-top: 5em;
    text-align: center;
}
