html, body {
    font-family: Helvetica, Tahoma, Arial, 'Hiragino Sans GB', 'Microsoft UI Light', sans-serif;
}

#container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    height: 200px;
    text-align: center;
    border: 1px solid black;
}

nav {
    margin-bottom: 1em;
}

#navigator {
    border: 1px solid black;
    border-radius: 0 0 0.5em 0.5em;
    box-shadow: 5px 5px 5px lightgrey;
}

div.card {
    margin: 10px 0;
    box-shadow: 5px 5px 5px lightgrey;
    border-radius: 0.5em;
}

/*左浮动框*/

#logo {
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 180px;
    border: 1px solid green;
}

#contact {
    border: 1px solid green;
}

#links {
    border: 1px solid green;
}

/*右浮动框*/
#right {
    float: right;
    width: 200px;
    right: 0;
    border: 1px solid blue;
}

#search {
    border: 1px solid green;
}

#tags {
    border: 1px solid green;
}

#category {
    border: 1px solid green;
}

/*文章区*/
article {
    padding: 0.5em;
    border: thin solid blue;
    border-radius: 0.5em;
    margin: 10px 0;
    box-shadow: 5px 5px 5px lightgrey;
}

    article > h1 {
        font-size: 150%;
        border-bottom: thick dotted darkslateblue;
    }

/*脚标区*/
#footer {
    border: 1px solid black;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 5px 5px 5px lightgrey;
}
