#article_area {
    width: auto;
    margin-left: 26em;
}

/*左浮动框*/
#left {
    float: left;
    width: 25em;
    left: 0;
}

#up {
    position: fixed;
    bottom: 1em;
    right: 2em;
    width: 3em;
    height: 3em;
    border-radius: 20px;
    background-color: #f5f5f5;
    padding: 10px;
    box-shadow: lightgray 10px 10px 10px;
}

    #up img {
        margin: auto;
        width: 3em;
    }

#catalogue {
}
