#article_area {
    width: auto;
    margin-left: 210px;
    margin-right: 210px;
}

#more {
    text-align: right;
}

/*左浮动框*/
#left {
    float: left;
    width: 200px;
    left: 0;
}

#logo {
    height: 200px;
}

#contact {
}

#links {
}
