#article_area {
    width: auto;
    margin-left: 14em;
    margin-right: 14em;
}

#more {
    text-align: right;
}

/*左浮动框*/
#left {
    float: left;
    width: 13em;
    left: 0;
}

/*右浮动框*/
#right {
    float: right;
    width: 13em;
    right: 0;
}
