#left {
    float: left;
    width: 200px;
    left: 0;
    border: 1px solid red;
}

#article_area {
    width: auto;
    margin-left: 210px;
    margin-right: 210px;
    border: 1px solid black;
}

#more {
    text-align: right;
}
